*
{
  box-sizing: border-box;
}
.row1
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
  font-weight: bolder;
  padding: 15px;
  background-color: black;
  color: white;
  padding-bottom: 0px;
}
#navbarCollapse a
{
  padding:5px;
  font-weight:500;
  font-size: large;
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
}
#navbarCollapse ,.as
{
  background-color:black;
  padding-bottom: 15px;
}
#navbarCollapse a:hover ,#navbarCollapse a:focus{
  background-color: rgb(64, 57, 243);
  color: white;
}
.we
{
  display: flex;
  height: 100%;
  font-weight: 700;
  font-size:medium;
  margin:55px 0px 0px 0px;;
  justify-content: space-around;
  flex-direction:row;
}
.we div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.we button{
  height: 100%;
  width: 100%;
  padding: 10px;
  font-weight:bolder;
  font-size:medium;
  border: 1px;
}
.boot
{
  padding:  10px 20px;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
}
.boot svg:hover , .boot svg:focus{
  color:#898989;
}
.Target
{
  display: flex;
  flex-direction: row;
  margin-bottom: 0%;
  justify-content: space-between;
}
.Target .a1 ,.b2
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  font-size: medium;
  font-weight: 700;
  color: white;
  padding: 6% 5%;
  background-color: rgb(255, 136, 86);
  margin: 6% 3% 6% 3%;
}
.Target .a2 ,.b1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border: 0px solid black;
  border-radius: 10px;
  padding: 6% 3%;
  margin: 6% 3% 6% 3%;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(255, 228, 191);
  margin-left: 0px;
}
.l1
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:rgb(255, 182, 151);
  color: rgb(0, 0, 0);
  font-weight: 300;
  margin:0% 3% 2% 3%;
  padding: 5px 10px;
}
.www{
  height: 50px;
}
.b1{
  margin:6% 3% 6% 3% ;
  color: black;
  padding: auto 10%;
  background-color: rgb(219, 219, 253);
}
.b2{
  width: 100%;
  margin: 6% 3% 6% 0%;
  background-color: rgb(100, 100, 239);
}
.t2 .l1{
  background-color: rgb(196, 196, 255);
}
.ee
{
  background-image: linear-gradient(to right,rgb(255, 0, 0),rgb(255, 77, 0),rgb(253, 97, 30),red);
  color: white;
}
.ww
{
  background-image: linear-gradient(to left,rgb(1, 50, 209),rgb(0, 81, 255),rgb(19, 93, 254),rgb(17, 0, 255));
  color: white;
}
.ee:hover,.ee:focus{
  background-color: rgb(255, 72, 0);
  color: white;
}
ww:hover,.ww:focus{
  background-color: rgb(63, 87, 245);
  color: white;
}
.time
{
  color: white;
  background-color: rgb(109, 118, 250);
  display: flex;
  justify-content: center;
  margin:6% 3%;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.row2{
  color: white;
  padding: 15px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.le1{
  font-size: medium;
  text-align: center;
  font-weight: bold;
}
.le1>div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(219, 219, 219);
  margin:30px 50px;
  border-radius: 10px;
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.a{
  color: white;
}