.v1{
    height: 100%;
    margin:0;
    padding: 0;
   
}
.v2{
    background-color: #000;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin:20px;
   
}